{% if section.settings.title !='' %}
<div class="container {{ section.settings.preset_section_title }} {% if section.settings.sub_title != blank %}sub-title-enable{% endif %}">
    <div class="row">
        <div class="col-sm-12">
            {% case section.settings.preset_section_title %}
              {% when 'style_2' %}
                {% if section.settings.sub_title != blank %}
                <div class="section-sub-title">
                    {{ section.settings.sub_title }}
                </div>
                {% endif %}
                <h1 class="section-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                    <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                    {% else %}
                    <span>{{ section.settings.title | split: '|' | first }}</span>
                    {% endif %}
                </h1>
              {% else %}
                <h1 class="section-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                    <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                    {% else %}
                    <span>{{ section.settings.title | split: '|' | first }}</span>
                    {% endif %}
                </h1>
                {% if section.settings.sub_title != blank %}
                <div class="section-sub-title">
                    {{ section.settings.sub_title }}
                </div>
                {% endif %}
            {% endcase %}
        </div>
    </div>
</div>
{% endif %}
