<!-- /snippets/collection-sorting.liquid -->
<div class="collection-sorting-row clearfix">
    {% if settings.collection_sidebar_position == 'none'%}
    <div class="control-filter-sidebar"><span {% if settings.language_enable %}data-translate="collections.sorting.title"{% endif %}>{{ 'collections.sorting.filtercol' | t }} </span><i class="nc-icon-outline ui-1_simple-add"></i></div>
    {% endif %}
    <div class="wc-toolbar-left">
        <div class="wc-view-count">
            <p{% if settings.language_enable %} data-translate="collections.limiter.title"{% endif %}>{{ 'collections.limiter.title' | t }}</p>
            <ul><li{% if template == 'collection' %} class="active"{% endif %}><a href="?view=12">12</a></li>
                <li{% if template == 'collection.15' %} class="active"{% endif %}><a href="?view=15">15</a></li>
                <li{% if template == 'collection.30' %} class="active"{% endif %}><a href="?view=30">30</a></li>
            </ul>
        </div>
    </div>
    <div class="wc-toolbar-right">
        <div class="sorter_wrap">
            <div class="sort-by">
                <div class="select-new">
                    <div class="select-inner">
                        <span {% if settings.language_enable %}data-translate="collections.sorting.title"{% endif %}>{{ 'collections.sorting.title' | t }}: </span>
                        {% assign sort_def = collection.sort_by | default: collection.default_sort_by | escape %}
                        <select name="sort-by" class="field bootstrap-select">
                            <option value="manual"{% if sort_def == 'manual' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.featured"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                            <option value="best-selling"{% if sort_def == 'best-selling' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.best_selling"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                            <option value="title-ascending"{% if sort_def == 'title-ascending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.az"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                            <option value="title-descending"{% if sort_def == 'title-descending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.za"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                            <option value="price-ascending"{% if sort_def == 'price-ascending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.price_ascending"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                            <option value="price-descending"{% if sort_def == 'price-descending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.price_descending"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                            <option value="created-descending"{% if sort_def == 'created-descending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.date_descending"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                            <option value="created-ascending"{% if sort_def == 'created-ascending' %} selected="selected"{% endif %} {% if settings.language_enable %}data-translate="collections.sorting.date_ascending"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if settings.collection_toolbar_filter %}
<div class="filter-option-group">
    <div class="filter-option-inner">
        {% include 'layer-nav-bar' %}
        {% if current_tags.size > 0 %}<a href="javascript:;" class="clearall">{{ 'collections.general.clear_all' | t }}</a>{% endif %}
    </div>
</div>
{% endif %}
