{% case section.settings.logo_width %}
{% when '' %}
{%- assign image_logo_width = '' -%}
{%- assign image_logo_height = '' -%}
{% else %}
{%- assign image_logo_width = section.settings.logo_width -%}
{%- assign image_logo_height = '' -%}
{% endcase %}
{% capture image_logo_size %}{{ image_logo_width }}x{{ image_logo_height }}{% endcapture %}
{% if section.settings.logo_use_image %}
{% if section.settings.logo != blank %}
{% assign logo = section.settings.logo | img_url: image_logo_size %}
{% else %}
{% assign logo = 'logo.png' | asset_url %}
{% endif %}
{% endif %}

{% if section.settings.logo_white_use_image %}
{% if section.settings.logo_white != blank %}
{% assign logo_white = section.settings.logo_white | img_url: image_logo_size %}
{% else %}
{% assign logo_white = 'logo-light.png' | asset_url %}
{% endif %}
{% endif %}
<div class="header-container header__layout-{{section.settings.type}}">
    <div class="header">
        <div class="header-wrapper">
            <div class="nova-container content-inner">
                <div class="header-middle-area">
                  <div class="logo-header">
                      {% if section.settings.logo_use_image %}
                      <a href="/" class="logo">
                          <img class="x1" src="{{ logo }}" alt="{{ shop.name }}" />
                      </a>
                      {% endif %}
                      {% if section.settings.logo_white_use_image %}
                      <a href="/" class="logo logo-white-specail">
                          <img class="x1" src="{{ logo_white }}" alt="{{ shop.name }}" />
                      </a>
                      {% endif %}
                  </div>
                  <div class="menu-icon">
                      <a href="javascript:;">
                          <svg class="dlicon-menu2" width="100%" height="100%"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dlicon-menu2"></use></svg>
                      </a>
                  </div>
                </div>
            </div>
            <div class="header-bottom d-none d-xl-block d-lg-block menu-uppercase-bold">
                <div class="nova-container">
                  <div class="header-bottom__inner">
                    <div class="header-bottom__left">
                      <div class="d-flex">
                        <div class="py-3 pr-3 flex-fill align-self-center">
                          <a href="/account">
                            <svg class="karic-header-users"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#karic-header-users"></use></svg>
                          </a>
                        </div>
                        <div class="p-3 flex-fill align-self-center">
                          <a href="javascript:void(0);" class="js-search--btn">
                            <svg class="karic-search-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#karic-search-icon"></use></svg>
                          </a>
                        </div>
                      </div>
                    </div>
                      <!-- Main Menu -->
                      <div class="container">
                        {% include 'main-menu' %}
                      </div>
                      <!-- End Main Menu -->
                      <div class="header-bottom__right">
                        <div class="mini-cart">
                          {% include 'header-cart' %}
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
