<div class="latest-posts__inner style_4">
  <div class="feature-image-blog">
      {% if article.image %}
      <a href="{{ article.url }}" class="article-image">
          <div class="post-image incify-lazyload-image" data-background-image="{{ article | img_url: '370x200',crop: 'center' }}" data-auto-padding="true"><span class="ico-view-image"></span></div>
      </a>
      {% endif %}
  </div>
  <div class="content-detail-blog">
      <div class="postTitle">
          <h2>
              <a href="{{ article.url }}">
                  {% if settings.language_enable %}
                  <span class="lang1">{{ article.title | split: '|' | first }}</span>
                  <span class="lang2">{{ article.title | split: '|' | last }}</span>
                  {% else %}
                  {{ article.title | split: '|' | first }}
                  {% endif %}
              </a>
          </h2>
      </div>
      <div class="date_comment">
          <div class="author_post">
              <span><span{% if settings.language_enable %} data-translate="blogs.article.by"{% endif %}>{{ 'blogs.article.by' | t }}</span> {{ article.author }}</span>
          </div>
          <div class="post-date">
              <span class="day">{{ article.published_at | date: '%d' }}</span>
              <span class="month">{{ article.published_at | date: '%b' }}, </span>
              <span class="year">{{ article.published_at | date: '%Y' }}</span>
          </div>
      </div>
      <div class="post-content">
        {% if settings.language_enable %}
        <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 10 }}</span>
        <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 10 }}</span>
        {% else %}
        {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 10}}
        {% endif %}
      </div>
      <div class="blog_item--meta-footer clearfix">
        <div class="la-sharing-posts">
          <span><i class="fa fa-share-alt"></i></span>
          <div class="social--sharing">
            <a target="_blank" href="https://www.facebook.com/sharer.php?u={{shop.url}}{{ article.url }}" rel="nofollow" class="facebook" title="" tabindex="0"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ article.title | split: '|' | first }}&amp;url={{shop.url}}{{ article.url }}" rel="nofollow" class="twitter" title="" tabindex="0"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://plus.google.com/share?url={{shop.url}}{{ article.url }}" rel="nofollow" class="google-plus" title="" tabindex="0"><i class="fa fa-google-plus"></i></a>
            <a target="_blank" href="https://pinterest.com/pin/create/button/?url={{shop.url}}{{ article.url }}&amp;media={{ article | img_url: '370x200',crop: 'center' }}" rel="nofollow" class="pinterest" title="" tabindex="0"><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
        <a class="post-btn-readmore" href="{{ article.url }}" tabindex="0"{% if settings.language_enable %} data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
      </div>
  </div>
</div>
