
<li class="product_item">
  <div class="product_item--inner clearfix">
    <div class="product_item--thumbnail">
      <div class="product_item--thumbnail-holder">
        <a href="{{ product.url | within: collection }}" class="product-image">
          <img src="{{ product.featured_image.src | img_url: '100x124' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main">
        </a>
      </div>
    </div>
    <div class="product_item--info">
      <h3 class="product_item--title"><a href="{{ product.url | within: collection }}">
        {% if settings.language_enable %}
        <span class="lang1">{{ product.title | split: '|' | first }}</span>
        <span class="lang2">{{ product.title | split: '|' | last }}</span>
        {% else %}
        {{ product.title | split: '|' | first }}
        {% endif %}
      </a></h3>
      <div class="price-box">
        <div class="price">
          {% if on_sale %}
          {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          <span class="money">
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          </span>
          {% else %}
          <div class="special-price">
            <span class="money">{{ product.price | money }}</span>
          </div>
          {% endif %}
          {% else %}
          {% if product.price_varies %}
          {% assign price = product.price | money %}
          <span class="money">{{ 'products.general.from_text_html' | t: price: price }}</span>
          {% else %}
          <span class="money">
            {{ product.price | money }}
          </span>
          {% endif %}
          {% endif %}
          {% if sold_out %}
          <span class="money">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
          {% if on_sale %}
          <div class="compare-price">
            <span class="money">{{ product.compare_at_price | money }}</span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="product_item--info-action clearfix">
        {% if product.available %}
        {% if product.variants.size > 1 %}
        <a href="{{ product.url | within: collection }}" class="btn-button bordered small btn-act-addtocart"{% if settings.language_enable %} data-translate="products.product.add_to_cart"{% endif %}>
          {{ 'products.product.select_options' | t }}
        </a>
        {% else %}
        <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="quantity" value="1" />
            <select class="d-none" name="id">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn-button bordered small add-to-cart btn-act-addtocart"{% if settings.language_enable %} data-translate="products.product.add_to_cart"{% endif %}>
                {{ 'products.product.add_to_cart' | t }}
            </button>
        </form>
        {% endif %}
        {% else %}
        <a href="{{ product.url | within: collection }}" class="btn-button bordered small btn-act-addtocart"{% if settings.language_enable %} data-translate="products.product.add_to_cart"{% endif %}>
            {{ 'products.product.add_to_cart' | t }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</li>
