{% if section.settings.enable == true %}
<div data-section-id="{{ section.id }}" class="section__about-us-team-member layout-preset-{{ section.settings.preset }} lg-mt-90 md-mt-50 xs-mt-30">
  {% if section.settings.title != blank %}
  <div class="about-us-box__title">
    <h4>{{ section.settings.title }}</h4>
  </div>
  {% endif %}
  <div class="container">
    {% if section.settings.preset == 'default' or section.settings.preset == 'bakery' %}
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">{{ section.settings.title }}</h3>
      </div>
    </div>
    {% endif %}
    <div class="row nova-team-member">
      <div class="col-md-12">
        <div class="slick-carousel" data-slick='{"slidesToShow":{{ section.settings.columns }},"slidesToScroll":{{ section.settings.columns }},"dots":false,"autoplaySpeed":5000,"speed":300,"infinite":false,"arrows":false,"swipe":true,"draggable":true,"touchMove":true,"pauseOnHover":false,"responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.columns }},"slidesToScroll":{{ section.settings.columns }}}},{"breakpoint":1200,"settings":{"slidesToShow":{{ section.settings.columns }},"slidesToScroll":{{ section.settings.columns }}}},{"breakpoint":992,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"pauseOnDotsHover":true}'>
          {% for block in section.blocks %}
          <div class="item">
            <div class="la-member__inner item-inner {% if block.settings.desc == blank %}not-desc{% endif %}">
              <div class="la-member__image">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url: '500x' }}" />
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
                <div class="item--overlay"></div></div>
              <div class="la-member__info">
                <div class="la-member__info-title-role">
                  <h3 class="la-member__info-title">{{ block.settings.name  }}</h3>
                  <p class="la-member__info-role">{{ block.settings.postion  }}</p>
                </div>
                <div class="item--social member-social">
                  {% if block.settings.fb != blank %}
                  <a class="social-facebook facebook" href="{{ block.settings.fb }}" tabindex="0"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if block.settings.tw != blank %}
                  <a class="social-twitter twitter" href="{{ block.settings.tw }}" tabindex="0"><i class="fa fa-twitter"></i></a>
                  {% endif %}
                  {% if block.settings.linkedin != blank %}
                  <a class="social-pinterest linkedin" href="{{ block.settings.linkedin }}" tabindex="0"><i class="fa fa-linkedin"></i></a>
                  {% endif %}
                  {% if block.settings.pin != blank %}
                  <a class="social-pinterest pinterest" href="{{ block.settings.pin }}" tabindex="0"><i class="fa fa-pinterest-p"></i></a>
                  {% endif %}
                  {% if block.settings.gp != blank %}
                  <a class="social-google-plus google-plus" href="{{ block.settings.gp }}" tabindex="0"><i class="fa fa-google-plus"></i></a>
                  {% endif %}
                </div>
                {% if block.settings.desc != blank %}
                <p class="la-member__info-desc">{{ block.settings.desc  }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
<span class="custom-styles-css">
</span>
{% endif %}
{% schema %}
{
  "name": "Team Member",
  "settings": [
    {
      "type": "header",
      "content": "Team Member Settings"
    },
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable Content Box",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "columns",
      "label": "Columns",
      "default": "4"
    }
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "postion",
          "label": "Postion"
        },
        {
          "type": "header",
          "content": "Social Links"
        },
        {
          "type": "text",
          "id": "fb",
          "label": "Facebook"
        },
        {
          "type": "text",
          "id": "tw",
          "label": "Twitter"
        },
        {
          "type": "text",
          "id": "pin",
          "label": "Pinterest"
        },
        {
          "type": "text",
          "id": "linkedin",
          "label": "LinkedIn"
        },
        {
          "type": "text",
          "id": "gp",
          "label": "Google Plus"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services Box",
      "category": "About Us V2"
    }
  ]
}
{% endschema %}
