<div data-section-id="{{ section.id }}" class="section__special-offters layout-{{ section.settings.preset }} lg-mt-90 md-mt-60 xs-mt-30">
  {% include "block_title" %}
  <div class="special-offters-box">
    <div class="nv-container">
          <div class="slick-carousel" data-slick='{"slidesToShow":1,"slidesToScroll":1,"dots":true,"autoplaySpeed":5000,"speed":300,"infinite":false,"arrows":true,"nextArrow":"<button type=\"button\" style=\"color:#333333;font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-next default\"><svg><use xlink:href=\"#dlicon-arrow-right1\"><\/use><\/svg><\/button>","prevArrow":"<button type=\"button\" style=\"color:#333333;font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-prev default\"><svg><use xlink:href=\"#dlicon-arrow-left1\"><\/use><\/svg><\/button>","swipe":true,"draggable":true,"touchMove":true,"pauseOnHover":false,"responsive":[{"breakpoint":1824,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":1200,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":992,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":768,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"pauseOnDotsHover":true}'>
            {% for block in section.blocks %}
            <div class="special-offters-item">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <a href="{{ block.settings.button_url }}"><img src="{{ block.settings.image | img_url: 'master' }}" /></a>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="box-offters">
                      {% assign handle = section.settings.preset %} {% case handle %}
                      {% when 'style_1' %}
                      <h2>{{ block.settings.title }}</h2>

                      {% if block.settings.star_offters_starrating %}
                      <div class="review-offters">
                        {% if block.settings.star_offters_starrating %}
                        <span class="offters-starrating">
                          {%if block.settings.star_offters_starrating == '0'%}
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          {% endif %}

                          {%if block.settings.star_offters_starrating == '1'%}
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          {% endif %}

                          {%if block.settings.star_offters_starrating == '2'%}
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          {% endif %}

                          {%if block.settings.star_offters_starrating == '3'%}
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          {% endif %}

                          {%if block.settings.star_offters_starrating == '4'%}
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star-empty"></i>
                          {% endif %}

                          {%if block.settings.star_offters_starrating == '5'%}
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          <i class="spr-icon spr-icon-star"></i>
                          {% endif %}
                        </span>
                        {% endif %}
                      </div>
                      {% endif %}

                      <div class="special-discount-html">
                        <span class="onsale"> <span class="save-percentage"><span>{{ block.settings.discount_percent }}</span></span></span>
                        <span class="price">
                          <del>{{ block.settings.price }}</del>
                          <ins>{{ block.settings.price_discount }}</ins>
                        </span>
                      </div>

                      <p class="sub-title">{{ block.settings.sub_title }}</p>

                      <div class="shortcode-countdown">
                          <!-- <div class="product-date clearfix" data-date="{{ block.settings.to_date }}"></div>  -->
                          <div class="product-date clearfix">
                          	<div class="day">
	                          	<span class="no">516</span>
	                          	<span class="text">Days</span>
                          	</div>
                          	<div class="hours">
                          		<span class="no">22</span>
                          		<span class="text">Hours</span>
                          	</div>
                          	<div class="min">
                          		<span class="no">25</span>
                          		<span class="text">Mins</span>
                          	</div>
                          	<div class="second">
                          		<span class="no">33</span>
                          		<span class="text">Secs</span>
                          	</div>                         	
                          </div>
                      </div>

                      {%- if block.settings.button_url != blank -%}
                        <a href="{{ block.settings.button_url }}" class="nova-button bordered rounded uppercase">{{ block.settings.button_text }}</a>
                      {%- endif -%}

                      {% when 'style_2' %}

                      <p>{{ block.settings.sub_title }}</p>

                      <h2>{{ block.settings.title }}</h2>

                      <div class="shortcode-countdown">
                          <div class="product-date clearfix" data-date="{{ block.settings.to_date }}"></div>
                      </div>

                      {%- if block.settings.button_url != blank -%}
                        <a href="{{ block.settings.button_url }}" class="btn-button white uppercase">{{ block.settings.button_text }}</a>
                      {%- endif -%}

                      {% else %}
                      <h2>{{ block.settings.title }}</h2>
                      <p>{{ block.settings.sub_title }}</p>

                      <div class="shortcode-countdown">
                          <div class="product-date clearfix" data-date="{{ block.settings.to_date }}"></div>
                      </div>

                      <div class="offer-desc">{{ block.settings.desc }}</div>
                      {%- if block.settings.button_url != blank -%}
                        <a href="{{ block.settings.button_url }}" class="btn-button bordered uppercase">{{ block.settings.button_text }}</a>
                      {%- endif -%}
                      {% endcase %}
                    </div>
                  </div>

              </div>
            </div>
            {% endfor %}
          </div>

    </div>
  </div>
</div>
<span class="custom-styles-css">
body div[data-section-id="{{ section.id }}"]{
  {% if section.settings.enable_style == true %}
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  {% endif %}
}
body div[data-section-id="{{ section.id }}"] .box-offters {
  {% if section.settings.background_to_color != blank and section.settings.background_from_color != blank %}
  background: -webkit-linear-gradient(left,#FFEBCF 0%,#C0FFF1 100%);
      background: -o-linear-gradient(left,#FFEBCF 0%,#C0FFF1 100%);
      background: -ms-linear-gradient(left,#FFEBCF 0%,#C0FFF1 100%);
      background: linear-gradient(left,#FFEBCF 0%,#C0FFF1 100%);
  {% else %}
  background-color: {{ section.settings.background_color }}
  {% endif %}
}
</span>
{% schema %}
{
  "name": "Special Offers",
  "settings": [
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "select",
      "id": "preset_section_title",
      "label": "Preset Section Title",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        },
        {
          "value": "style_4",
          "label": "Style 4"
        },
        {
          "value": "style_5",
          "label": "Style 5"
        },
        {
          "value": "style_6",
          "label": "Style 6"
        },
        {
          "value": "style_7",
          "label": "Style 7"
        },
        {
          "value": "style_8",
          "label": "Style 8"
        },
        {
          "value": "style_9",
          "label": "Style 9"
        },
        {
          "value": "style_10",
          "label": "Style 10"
        },
        {
          "value": "style_11",
          "label": "Style 11"
        },
        {
          "value": "style_12",
          "label": "Style 12"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Box title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Box Sub title"
    },
    {
      "type": "select",
      "id": "preset",
      "label": "Preset",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "header",
      "content": "Backgound Content Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f8f3f3"
    },
    {
      "type": "color",
      "id": "background_to_color",
      "label": "Background To Color"
    },
    {
      "type": "color",
      "id": "background_from_color",
      "label": "Background From Color"
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_style",
      "default": false,
      "label": "Enable Style Settings"
    },
    {
      "type": "range",
      "id": "style_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "offer_item",
      "name": "Offer Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "discount_percent",
          "label": "Discount Percent"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "price_discount",
          "label": "Price Discount"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "radio",
          "id": "star_offters_starrating",
          "label": "Star tarrating",
          "options": [
            {
              "value": "0",
              "label": "No Star"
            },
            {
              "value": "1",
              "label": "One Star"
            },
            {
              "value": "2",
              "label": "Twe Star"
            },
            {
              "value": "3",
              "label": "Three Star"
            },
            {
              "value": "4",
              "label": "Four Star"
            },
            {
              "value": "5",
              "label": "Five Star"
            }
          ],
          "default": "5"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "to_date",
          "label": "Offer To Date",
          "default": "2019/12/10 10:30:00",
          "placeholder": "2019/12/10 10:30:00"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Special Offers",
      "category": "Products"
    }
  ]
}
{% endschema %}
