<div data-section-id="{{ section.id }}" data-section-type="testimonial-section" class="testimonial-section layout-{{section.settings.preset}} lg-mt-90 md-mt-50 xs-mt-30">
  <div class="{% if section.settings.box_layout == 'nova-container' %}nova-container{% endif %}">
    <div class="incify-testimonial{% if section.settings.enable_parallax == true %} parallax-box{% endif %}">
      <div class="incify-testimonial__inner">
        {% if section.settings.title !='' %}
          <div class="testimonia-title">
              {% include "block_title" %}
          </div>
          {% endif %}
        <div class="nova-container">
          <div class="row">
            <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1 large-up-3">
                {% for block in section.blocks limit: section.blocks.size %}
                <div class="cell">
                  <div class="testimonial_item--inner item-inner">
                      <div class="testimonial_item--image">
                        {% if block.settings.testimonial_avt != blank %}
                          <span style="background-image: url({{ block.settings.testimonial_avt | img_url: 'master' }});"></span>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                      <div class="testimonial_item--info">
                          {% if section.settings.preset == 'style_3' or section.settings.preset == 'style_4' or section.settings.preset == 'style_6' %}
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          {% endif %}
                          {% if block.settings.testimonial_text != blank %}
                          <div class="testimonial_item--excerpt">{{ block.settings.testimonial_text }}</div>
                          {% endif %}
                      </div>
                      <div class="testimonial_item--bottom">
                          <div class="testimonial_item--title-role">
                              {% if block.settings.testimonial_text_author != blank %}
                              <div class="testimonial_item--title">{{ block.settings.testimonial_text_author }}</div>
                              {% endif %}
                              {% if block.settings.testimonial_text_job != blank %}
                              <p class="testimonial_item--role">{{ block.settings.testimonial_text_job }}</p>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="custom-styles-css">
body div[data-section-id="{{ section.id }}"] {
  {% if section.settings.enable_style == true %}
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  {% endif %}
}
body div[data-section-id="{{ section.id }}"] .incify-testimonial {
  {% if section.settings.gradient_bg != blank %}
  background: -moz-linear-gradient(left, {{section.settings.gradient_left}} 0%, {{section.settings.gradient_right}} 100%);
  background: -webkit-linear-gradient(left, {{section.settings.gradient_left}} 0%, {{section.settings.gradient_right}} 100%);
  background: linear-gradient(to right, {{section.settings.gradient_left}} 0%, {{section.settings.gradient_right}} 100%);
  {% endif %}
  background-color: {{ section.settings.background_color }};
  {% if section.settings.background %}
  background-image:url({{ section.settings.background | img_url: 'master' }});
  background-repeat: {{ section.settings.background_repeat }};
  {% if section.settings.background_repeat == 'repeat' %}
    background-size: auto;
  {% else %}
    background-size: cover;
  {% endif %}
  background-position: 50% 50%;
  {% endif %}
}
body div[data-section-id="{{ section.id }}"] .incify-testimonial .incify-testimonial__inner {
  {% if section.settings.padding_top != '' %}
  padding-top:{{ section.settings.padding_top }}px;
  {% endif %}
  padding-bottom:{{ section.settings.padding_bottom }}px;
}
</span>
{% schema %}
{
  "name": "Testimonial",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "box_layout",
      "label": "Box Layout",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "nova-container",
          "label": "Nova Container"
        }
      ],
      "default": "nova-container"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "select",
      "id": "preset_section_title",
      "label": "Preset Section Title",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        },
        {
          "value": "style_4",
          "label": "Style 4"
        },
        {
          "value": "style_5",
          "label": "Style 5"
        },
        {
          "value": "style_6",
          "label": "Style 6"
        },
        {
          "value": "style_7",
          "label": "Style 7"
        },
        {
          "value": "style_8",
          "label": "Style 8"
        },
        {
          "value": "style_9",
          "label": "Style 9"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Testimonial Settings"
    },
    {
      "type": "select",
      "id": "preset",
      "label": "Preset",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        },
        {
          "value": "style_4",
          "label": "Style 4"
        },
        {
          "value": "style_5",
          "label": "Style 5"
        },
        {
          "value": "style_6",
          "label": "Style 6"
        },
        {
          "value": "style_7",
          "label": "Style 7"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "header",
      "content": "Gradient Background"
    },
    {
      "type": "checkbox",
      "id": "gradient_bg",
      "default": false,
      "label": "Use Gradient Background"
    },
    {
      "type": "color",
      "id": "gradient_left",
      "label": "Gradient Left Color",
      "default": "#FFEEBB"
    },
    {
      "type": "color",
      "id": "gradient_right",
      "label": "Gradient Right Color",
      "default": "#95FFE3"
    },
    {
      "type": "header",
      "content": "Image Background"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFF5ED"
    },
    {
      "type": "select",
      "id": "background_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Reapeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "default": true,
      "label": "Enable Parallax Background"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Banner Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Top",
      "default": 150
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 150
    },
    {
      "type": "range",
      "id": "sides_show",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Sides To Show",
      "default": 1
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_style",
      "default": false,
      "label": "Enable Style Settings"
    },
    {
      "type": "range",
      "id": "style_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "testimonial_content",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_avt",
          "label": "Avatar"
        },
        {
          "type": "textarea",
          "id": "testimonial_text",
          "label": "Testimonial Text"
        },
        {
          "type": "text",
          "id": "testimonial_text_author",
          "label": "Name Author"
        },
        {
          "type": "text",
          "id": "testimonial_text_job",
          "label": "Name Job"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Testimonial"
    }
  ]
}
{% endschema %}
