{% assign limit = section.settings.product_list_limit %}
{% if section.settings.product_list_column != '5' and section.settings.product_list_column != '7' %}
{% assign col = 12 | divided_by: section.settings.product_list_column %}
{% else %}
{% assign col = section.settings.product_list_column %}
{% endif %}
{% assign product_limitation = 0 %}
<section data-section-id="{{ section.id }}" class="section_product_list lg-mt-90 md-mt-60 xs-mt-30 {{ section.id }}{% if section.settings.background_color != blank %} lg-pt-75 lg-pb-75 xs-pt-50 xs-pb-50{% endif %}">
    {% include "block_title" %}
    <div class="category-products lg-mt-40 md-mt-30 sm-mt-10">
      <div class="slick-carousel full-width-slide products-grid" data-slick='{"slidesToShow":{{ section.settings.column }},"slidesToScroll":1,"dots":false,"autoplaySpeed":5000,"speed":300,"infinite":true,"arrows":false,"swipe":true,"draggable":true,"touchMove":true,"pauseOnHover":false,"centerMode":true,"centerPadding":"10%","responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.column }},"slidesToScroll":1}},{"breakpoint":1200,"settings":{"slidesToShow":{{ section.settings.column_tablet }},"slidesToScroll":1}},{"breakpoint":992,"settings":{"slidesToShow":{{ section.settings.column_tablet }},"slidesToScroll":1}},{"breakpoint":768,"settings":{"slidesToShow":{{ section.settings.column_tablet }},"slidesToScroll":1}},{"breakpoint":480,"settings":{"slidesToShow":{{ section.settings.column_mobile }},"slidesToScroll":1}}],"pauseOnDotsHover":true}'>
        {% assign collection1 = collections[section.settings.product_list_collection_use] %}
        {% for product in collection1.products limit: section.settings.product_list_limit %}
        <div class="item product">
            {% include 'product-grid-item' %}
        </div>
        {% endfor %}
      </div>
    </div>
</section>
<span class="custom-styles-css">
.section_product_list.{{ section.id }}{
  {% if section.settings.background_color != blank %}
  background-color: {{ section.settings.background_color }};
  {% endif %}
  {% if section.settings.enable_style == true %}
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  {% endif %}
}
</span>
{% schema %}
{
"name": "Product List",
"settings": [
{
"type": "header",
"content": "Main Product List"
},
{
  "type": "select",
  "id": "preset",
  "label": "Preset",
  "options": [
{
  "value": "style_1",
  "label": "Style 1"
},
{
  "value": "style_2",
  "label": "Style 2"
},
{
  "value": "style_3",
  "label": "Style 3"
}
],
"default": "style_1"
},
{
  "type": "color",
  "id": "background_color",
  "label": "Backgound Color"
},
{
  "type": "select",
  "id": "layout",
  "label": "Layout",
  "options": [
{
  "value": "boxed",
  "label": "Boxed"
},
{
  "value": "full_width",
  "label": "Full Width"
}
],
"default": "full_width"
},
{
"type": "header",
"content": "Title Settings"
},
{
"type": "select",
"id": "preset_section_title",
"label": "Preset Section Title",
"options": [
{
"value": "style_1",
"label": "Style 1"
},
{
"value": "style_2",
"label": "Style 2"
},
{
"value": "style_3",
"label": "Style 3"
},
{
"value": "style_4",
"label": "Style 4"
},
{
"value": "style_5",
"label": "Style 5"
},
{
"value": "style_6",
"label": "Style 6"
},
{
"value": "style_7",
"label": "Style 7"
},
{
"value": "style_8",
"label": "Style 8"
}
],
"default": "style_1"
},
{
"type": "text",
"id": "title",
"label": "Collection title"
},
{
"type": "text",
"id": "sub_title",
"label": "Collection Sub title"
},
{
"type": "header",
"content": "Content Settings"
},
{
"type": "text",
"id": "product_list_limit",
"label": "Number of products to show",
"default": "12"
},
{
"type": "text",
"id": "product_list_column",
"label": "Products per row",
"default": "4"
},
{
  "type": "header",
  "content": "Slider Settings"
},
{
  "type": "range",
  "id": "column",
  "min": 1,
  "max": 6,
  "step": 1,
  "unit": "col",
  "label": "Columns",
  "default": 4
},
{
  "type": "range",
  "id": "column_tablet",
  "min": 1,
  "max": 6,
  "step": 1,
  "unit": "col",
  "label": "Columns in Tablet",
  "default": 2
},
{
  "type": "range",
  "id": "column_mobile",
  "min": 1,
  "max": 6,
  "step": 1,
  "unit": "col",
  "label": "Columns in Mobile",
  "default": 1
},
{
"type": "header",
"content": "Product List Collection"
},
{
"type": "collection",
"id": "product_list_collection_use",
"label": "Collection use:"
},
{
  "type": "header",
  "content": "Styles Settings"
},
{
 "type": "checkbox",
 "id": "enable_style",
 "default": false,
 "label": "Enable Style Settings"
},
{
    "type":      "range",
    "id":        "style_top",
    "min":       0,
    "max":        500,
    "step":       5,
    "unit":       "px",
    "label":     "Space Top",
    "default":   0
},
{
    "type":      "range",
    "id":        "style_bottom",
    "min":       0,
    "max":        500,
    "step":       5,
    "unit":       "px",
    "label":     "Space Bottom",
    "default":   0
},
{
    "type":      "range",
    "id":        "style_left",
    "min":       0,
    "max":        500,
    "step":       5,
    "unit":       "px",
    "label":     "Space Left",
    "default":   0
},
{
    "type":      "range",
    "id":        "style_right",
    "min":       0,
    "max":        500,
    "step":       5,
    "unit":       "px",
    "label":     "Space Right",
    "default":   0
}
],
"presets": [
{
"name": "Product List Collection",
"category": "Collection"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
