<div data-section-id="{{ section.id }}" class="banner-image-block {{section.settings.banner_preset}}{% if section.settings.banner_space == 'yes' %} has-space{% endif %} my-lg-6 my-md-4 my-xs-3">
    <div class="banner-image{% if section.settings.width_layout == 'boxed' %} container{% else %}{% if section.settings.banner_preset == 'style_5' %} EL_row_padding_65{% endif %} nova-container{% endif %}">
      <div class="nova-row">
        <div class="grid-x{% if section.settings.banner_space == 'yes' %} grid-padding-y grid-padding-x{% endif %}{% if section.settings.banner_space == 'small' %} small-space{% endif %}{% if section.settings.show_content_when_hover %} content-visible-when-hover{% endif %} small-up-1 medium-up-{{section.settings.grid_2}} large-up-{{section.settings.grid}}">
          {% for block in section.blocks %}
          <div class="cell">
            <div class="box-inner">
                <div class="banner--image {% if section.settings.banner_preset == 'style_1' or section.settings.banner_preset == 'style_2' or section.settings.banner_preset == 'style_3' %}spcial-hover-effect{% endif %} incify-lazyload-image banner-background-1" data-background-image="{{ block.settings.image_banner | img_url: 'master' }}" data-auto-padding="true"></div>
                <div class="banner--infor text-center">
                  <h2>{{ block.settings.title }}</h2>
                  <p>{{ block.settings.sup_title }}</p>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% if section.settings.enable_style == true %}
<span class="custom-styles-css">
  body div[data-section-id="{{ section.id }}"]{
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  }
</span>
{% endif %}
{% schema %}
{
"name": "Banner Image",
"max_blocks": 12,
"settings": [
    {
    "type": "header",
    "content": "Banner Image Settings"
    },
    {
      "type": "select",
      "id": "banner_preset",
      "label": "Preset",
      "options": [
    {
      "value": "style_1",
      "label": "Style 1"
    },
    {
      "value": "style_2",
      "label": "Style 2"
    },
    {
      "value": "style_3",
      "label": "Style 3"
    },
    {
      "value": "style_4",
      "label": "Style 4"
    },
    {
      "value": "style_5",
      "label": "Style 5"
    }
    ],
    "default": "style_1"
    },
    {
    "type": "select",
    "id": "width_layout",
    "label": "Display Full Width / Boxed",
    "options": [
    {
    "value": "full",
    "label": "Full Width"
    },
    {
    "value": "boxed",
    "label": "Boxed"
    }
    ],
    "default": "full"
    },
    {
      "type": "select",
      "id": "banner_space",
      "label": "Banner Space",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Banner per row (Desktop View)",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "grid_2",
      "label": "Banner per row (Tablet View)",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
     "type": "checkbox",
     "id": "show_content_when_hover",
     "default": false,
     "label": "Just display content when hover"
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
     "type": "checkbox",
     "id": "enable_style",
     "default": false,
     "label": "Enable Style Settings"
    },
    {
        "type":      "range",
        "id":        "style_top",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Top",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_bottom",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Bottom",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_left",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Left",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_right",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Right",
        "default":   0
    }
	],
  "blocks": [
    {
      "type": "banner_item",
      "name": "Banner Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_banner",
          "label": "Banner Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "sup_title",
          "label": "Sub Title"
        }
      ]
    }
  ],
	"presets": [{
      "name": "Banner Image",
      "category": "Banner Image"
  	}]
}
{% endschema %}
