<div data-section-id="{{ section.id }}" data-section-type="subscribe-section" class="subscribe-section {{section.settings.preset}} {% if section.settings.enable_parallax == true %}parallax-box{% endif %} {{section.settings.banner_preset}} incify-styles" data-styles='{
  {% if section.settings.enable_style == true %}
    {% if section.settings.style_top != '' %}
    "margin-top":"{{ section.settings.style_top }}px",
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    "margin-bottom":"{{ section.settings.style_bottom }}px",
    {% endif %}
    {% if section.settings.style_left != '' %}
    "margin-left":"{{ section.settings.style_left }}px",
    {% endif %}
    {% if section.settings.style_right != '' %}
    "margin-right":"{{ section.settings.style_right }}px",
    {% endif %}
  {% endif %}
  {% if section.settings.background_color != '' %}
    "background-color": "{{ section.settings.background_color }}",
  {% endif %}
  {% if section.settings.background %}
  "background-image":"url({{ section.settings.background | img_url: 'master' }})",
  "background-repeat": "no-repeat",
  "background-position": "50% 50%",
  "background-size": "cover",
  {% endif %}
  {% if section.settings.padding_top != '' %}
  "padding-top":"{{ section.settings.padding_top }}px",
  {% endif %}
  "padding-bottom":"{{ section.settings.padding_bottom }}px"
}'>
  <div class="home-custom-text">
    {% include 'shortcode' load: section.settings.text %}
  </div>
</div>
{% schema %}
{
"name": "Custom Text",
"settings": [
    {
    "type": "header",
    "content": "Custom Text Settings"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Custom Text"
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
     "type": "checkbox",
     "id": "enable_style",
     "default": false,
     "label": "Enable Style Settings"
    },
    {
        "type":      "range",
        "id":        "style_top",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Top",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_bottom",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Bottom",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_left",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Left",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_right",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Right",
        "default":   0
    }
	],
	"presets": [{
      "name": "Custom Text",
      "category": "Custom Text"
  	}]
}
{% endschema %}
