<div data-section-id="{{ section.id }}" class="instagram-photos-section">
  <div class="nova-container">
    <div class="instagram-img">
        {% include 'instagram' %}
    </div>
  </div>
</div>
{% if section.settings.enable_style == true %}
<span class="custom-styles-css">
  body div[data-section-id="{{ section.id }}"]{
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  }
</span>
{% endif %}
{% schema %}
{
"name": "Instagram Photos",
"settings": [
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
    "type": "select",
    "id": "preset_section_title",
    "label": "Preset Section Title",
    "options": [
    {
    "value": "style_1",
    "label": "Style 1"
    },
    {
    "value": "style_2",
    "label": "Style 2"
    },
    {
    "value": "style_3",
    "label": "Style 3"
    },
    {
    "value": "style_4",
    "label": "Style 4"
    },
    {
    "value": "style_5",
    "label": "Style 5"
    },
    {
    "value": "style_6",
    "label": "Style 6"
    },
    {
    "value": "style_7",
    "label": "Style 7"
    },
    {
    "value": "style_8",
    "label": "Style 8"
    }
    ],
    "default": "style_1"
    },
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "text",
    "id": "sub_title",
    "label": "Sub Title"
    },
    {
      "type": "header",
      "content": "Instagram Photos"
    },
    {
        "type":      "range",
        "id":        "grid",
        "min":       3,
        "max":        8,
        "step":       1,
        "unit":       "px",
        "label":     "Grid Columns",
        "default":   4
    },
    {
        "type":      "range",
        "id":        "limit",
        "min":       3,
        "max":        16,
        "step":       1,
        "unit":       "px",
        "label":     "Limit Photos",
        "default":   8
    },
    {
      "type": "text",
      "id": "hashtag",
      "label": "Hashtag",
      "placeholder": "add hashtag without # symbol"
    },
    {
     "type": "checkbox",
     "id": "enable_style",
     "default": false,
     "label": "Enable Style Settings"
    },
    {
        "type":      "range",
        "id":        "style_top",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Top",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_bottom",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Bottom",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_left",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Left",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_right",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Right",
        "default":   0
    }
	],
	"presets": [{
      "name": "Instagram Photos",
      "category": "Social"
  	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
