<div data-section-id="{{ section.id }}" class="blog-article-section layout-{{ section.settings.preset }}{% if section.settings.enable_parallax == true %} parallax-box{% endif %}">
    {% include "block_title" %}
    <div class="container">
        <div class="nova-row">
            <div class="blog_article">
                {%- assign blog = blogs[section.settings.blog] -%}
                {% unless blog.empty? %}
                <div class="latest_news">
                    <div class="recent-posts">
                        <div class="slick-carousel collection-banner-content-slider" data-slick='{"slidesToShow":{{ section.settings.number_columns_blog_show }},"slidesToScroll":{{ section.settings.number_columns_blog_show }},"dots":false,"autoplaySpeed":5000,"speed":300,"infinite":false,"arrows":false,"swipe":true,"draggable":true,"touchMove":true,"pauseOnHover":false,"responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.number_columns_blog_show }},"slidesToScroll":{{ section.settings.number_columns_blog_show }}}},{"breakpoint":1200,"settings":{"slidesToShow":{{ section.settings.number_columns_blog_show }},"slidesToScroll":{{ section.settings.number_columns_blog_show }}}},{"breakpoint":992,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":768,"settings":{"slidesToShow":1,"slidesToScroll":1}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"pauseOnDotsHover":true}'>
                            {% for article in blog.articles limit:section.settings.blog_article_limit %}
                                <div class="item">
                                  {% assign preset = section.settings.preset %}
                                  {% case preset %}
                                  {% when 'style_2' %}
                                    {% include 'home_article_item_2' %}
                                  {% when 'style_3' %}
                                    {% include 'home_article_item_3' %}
                                  {% when 'style_4' %}
                                    {% include 'home_article_item_4' %}
                                  {% when 'style_5' %}
                                    {% include 'home_article_item_5' %}
                                  {% else %}
                                    {% include 'home_article_item' %}
                                  {% endcase %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
</div>
<span class="custom-styles-css">
body div[data-section-id="{{ section.id }}"]{
  {% if section.settings.enable_style == true %}
    {% if section.settings.style_top != '' %}
    margin-top:{{ section.settings.style_top }}px;
    {% endif %}
    {% if section.settings.style_bottom != '' %}
    margin-bottom:{{ section.settings.style_bottom }}px;
    {% endif %}
    {% if section.settings.style_left != '' %}
    margin-left:{{ section.settings.style_left }}px;
    {% endif %}
    {% if section.settings.style_right != '' %}
    margin-right:{{ section.settings.style_right }}px;
    {% endif %}
  {% endif %}
  {% if section.settings.background %}
  background-image:url({{ section.settings.background | img_url: 'master' }});
  background-repeat: {{ section.settings.background_repeat }};
  {% if section.settings.background_repeat == 'repeat' %}
    background-size: auto;
  {% else %}
    background-size: cover;
  {% endif %}
  background-position: 50% 50%;
  {% endif %}
  {% if section.settings.padding_top != '' %}
  padding-top:{{ section.settings.padding_top }}px;
  {% endif %}
  padding-bottom:{{ section.settings.padding_bottom }}px;
}
</span>
{% schema %}
{
  "name": "Blog Article",
  "class": "index-section",
  "settings": [{
      "type": "select",
      "id": "preset",
      "label": "Preset",
      "options": [{
          "value": "style_1",
          "label": "Style 1"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "select",
      "id": "preset_section_title",
      "label": "Preset Section Title",
      "options": [{
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        },
        {
          "value": "style_4",
          "label": "Style 4"
        },
        {
          "value": "style_5",
          "label": "Style 5"
        },
        {
          "value": "style_6",
          "label": "Style 6"
        },
        {
          "value": "style_7",
          "label": "Style 7"
        },
        {
          "value": "style_8",
          "label": "Style 8"
        },
        {
          "value": "style_9",
          "label": "Style 9"
        },
        {
          "value": "style_10",
          "label": "Style 10"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Blog Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Blog Sub Title"
    },
    {
      "type": "header",
      "content": "Image Background"
    },
    {
      "type": "select",
      "id": "background_repeat",
      "label": "Background Repeat",
      "options": [{
          "value": "no-repeat",
          "label": "No Reapeat"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "default": false,
      "label": "Enable Parallax Background"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "blog_article_limit",
      "label": "Number of article to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "number_columns_blog_show",
      "label": "Number Columns Blog Show.",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_style",
      "default": false,
      "label": "Enable Style Settings"
    },
    {
      "type": "range",
      "id": "style_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Right",
      "default": 0
    }
  ],
  "presets": [{
    "name": "Blog posts",
    "category": "Blog"
  }]
}
{% endschema %}
