<div data-section-id="{{ section.id }}" data-section-type="custom-support-section" class="custom-support-section{% if section.settings.enable_style == true %} incify-styles{% endif %}" style="background-color:{{section.settings.bg_color}}"{% if section.settings.enable_style == true %} data-styles='{
  {% if section.settings.style_top != '' %}
  "margin-top":"{{ section.settings.style_top }}px",
  {% endif %}
  {% if section.settings.style_bottom != '' %}
  "margin-bottom":"{{ section.settings.style_bottom }}px",
  {% endif %}
  {% if section.settings.style_left != '' %}
  "margin-left":"{{ section.settings.style_left }}px",
  {% endif %}
  {% if section.settings.style_right != '' %}
  "margin-right":"{{ section.settings.style_right }}px"
  {% endif %}
}'{% endif %}>
    <div class="custom-support">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="zyra-icon icon-{{section.settings.custom_support_icon_1}}"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_1 != blank %}
                        {{ section.settings.custom_support_content_1 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="zyra-icon icon-{{section.settings.custom_support_icon_2}}"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_2 != blank %}
                        {{ section.settings.custom_support_content_2 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="zyra-icon icon-{{section.settings.custom_support_icon_3}}"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_3 != blank %}
                        {{ section.settings.custom_support_content_3 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="zyra-icon icon-{{section.settings.custom_support_icon_4}}"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_4 != blank %}
                        {{ section.settings.custom_support_content_4 }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Custom Support",
"settings": [
    {
    "type": "header",
    "content": "Custom Support Content"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f7f7f7"
    },
    {
    "type": "text",
    "id": "custom_support_icon_1",
    "label": "Custom Support Icon 1"
    },
    {
    "type": "textarea",
    "id": "custom_support_content_1",
    "label": "Custom Support 1"
    },
    {
    "type": "text",
    "id": "custom_support_icon_2",
    "label": "Custom Support Icon 2"
    },
    {
    "type": "textarea",
    "id": "custom_support_content_2",
    "label": "Custom Support 2"
    },
    {
    "type": "text",
    "id": "custom_support_icon_3",
    "label": "Custom Support Icon 3"
    },
    {
    "type": "textarea",
    "id": "custom_support_content_3",
    "label": "Custom Support 3"
    },
    {
    "type": "text",
    "id": "custom_support_icon_4",
    "label": "Custom Support Icon 4"
    },
    {
    "type": "textarea",
    "id": "custom_support_content_4",
    "label": "Custom Support 4"
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
     "type": "checkbox",
     "id": "enable_style",
     "default": false,
     "label": "Enable Style Settings"
    },
    {
        "type":      "range",
        "id":        "style_top",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Top",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_bottom",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Bottom",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_left",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Left",
        "default":   0
    },
    {
        "type":      "range",
        "id":        "style_right",
        "min":       0,
        "max":        500,
        "step":       5,
        "unit":       "px",
        "label":     "Space Right",
        "default":   0
    }
	],
	"presets": [{
      "name": "Custom Support",
      "category": "Custom Support"
  	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
