<div data-section-id="{{ section.id }}" class="section__banner-content-box {{ section.settings.preset }} lg-mt-30 md-mt-30 xs-mt-30">
  <div class="nova-container">
    <div class="banner-content-box row">
      {% if section.settings.preset == 'style_1' %}
      <div class="col-sm-12 col-md-5 banner-left">
        <div class="banner-content-box__title">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.sup_title }}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 banner-right">
        <div class="banner-content-box__content">
          {{ section.settings.content_text }}
        </div>
      </div>
      {% elsif section.settings.preset == 'style_2' %}
      <div class="col-sm-12 col-md-7 banner-left">
        <div class="banner-content-box__content">
          {{ section.settings.content_text }}
        </div>
      </div>
      <div class="col-sm-12 col-md-5 banner-right">
        <div class="banner-content-box__title">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.sup_title }}</p>
        </div>
      </div>
      {% else %}
      {% if section.settings.image != blank %}
      <div class="col-sm-12 col-md-7 banner-left">
        <div class="banner-content-box__title">
          <h1>{{ section.settings.title }}</h1>
          <p>{{ section.settings.sup_title }}</p>
        </div>
      </div>
      {% endif %}
      <div class="col-sm-12 col-md-5 banner-right">
        <div class="banner-content-box__content">
          {{ section.settings.content_text }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if section.settings.enable_style == true %}
<span class="custom-styles-css">
body div[data-section-id="{{ section.id }}"]{
  {% if section.settings.style_top != '' %}
  margin-top:{{ section.settings.style_top }}px;
  {% endif %}
  {% if section.settings.style_bottom != '' %}
  margin-bottom:{{ section.settings.style_bottom }}px;
  {% endif %}
  {% if section.settings.style_left != '' %}
  margin-left:{{ section.settings.style_left }}px;
  {% endif %}
  {% if section.settings.style_right != '' %}
  margin-right:{{ section.settings.style_right }}px;
  {% endif %}
}
</span>
{% endif %}
{% schema %}
{
  "name": "Text Banner Box",
  "settings": [{
      "type": "header",
      "content": "Content Box Settings"
    },
    {
      "type": "select",
      "id": "preset",
      "label": "Preset",
      "options": [{
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        },
        {
          "value": "style_3",
          "label": "Style 3"
        },
        {
          "value": "style_4",
          "label": "Style 4"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sup_title",
      "label": "Sup Title"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Styles Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_style",
      "default": false,
      "label": "Enable Style Settings"
    },
    {
      "type": "range",
      "id": "style_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_left",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Left",
      "default": 0
    },
    {
      "type": "range",
      "id": "style_right",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Space Right",
      "default": 0
    }
  ],
  "presets": [{
    "name": "Banner Box",
    "category": "Banner Box"
  }]
}
{% endschema %}
